!!!
%html{html_attrs('en')}
  %head
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "Content-Type" }
    %meta{ :name => "Description", "http-equiv" => "Description", :content => "" }
    %meta{ :name => "Keywords", "http-equiv" => "Keywords", :content => "" }
    %link{ :id => 'favicon', :href => '/favicon.png', :rel => 'icon', :type => 'image/x-icon' }
    %title PickleberryPie
    
    = csrf_meta_tag
    = stylesheet_link_tag 'reset', :media => 'screen, projection, print'
    = stylesheet_link_tag 'styles', :media => 'screen, projection, print'
    /[if lt IE 7]
      = stylesheet_link_tag 'ie', :media => 'screen, projection'

    = javascript_include_tag 'jquery-1.4.3.min', 'application'
    
  %body
    #wrap
      #main.clearfix
        #header
          .insides
            = link_to("Home", root_path, :id => 'logo')
            
            %ul#nav
              %li= link_to("Home", root_path)
              %li= link_to("Performers", root_path)
              %li= link_to("Projects", root_path)
              %li= link_to("Donate", root_path)
              %li= link_to("Contact", root_path)
            
            #announcement
              .inner
                = yield(:announcement) || "Announcements go here"
        
        #mid
          .insides
            = yield
        
        #footer
          .insides
            Copyright © Pickleberry Pie 2010
            = yield :footer

    = yield :javascript
